{% extends "chinna/base.html" %} {% load static %} {% block content %}

<div class="mt-4">
    <div class="container  ">
        <div class="row">
            <div class="col-sm-6   border-5">
                <img src="{% static 'chinna/images/chinna.jpg' %}" alt="logo-images" class="img-fluid img-responsive bg-info">

                <h3 class="text-center text-dark">Hi, I'm ADI NARAYANA REDDY</h3>
                <hr>
                <p class="text-dark text-center">I love Python Django Coding reserch and collebarating</p>
            </div>

            <div class=" col-sm-6 ">
                <h3 class="text-dark capitalize ">My First Job as a Developer</h3>
                <hr>
                <p>3 months after writing my first Hello World program on September 8th 2017 (While working in the marketing department) I had convinced my boss to let me take a stab at building a better version of the outdated laboratory management system
                    my company was running on.</p>

                <p>Before I knew it we transitioned from the old system and we're on to mine. My newbie self was now in charge of hosting hundreds of thousands of lab samples and supporting thousands of clients.</p>

                <p>From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>

                <ul class="social-links ">
                    <i class="fab fa-youtube "></i>
                    <i class="fas fa-envelope-open-text "></i>
                    <i class="fab fa-facebook-messenger "></i>
                    <i class="fab fa-whatsapp-square "></i>
                    <i class="far fa-file-code "></i>

                </ul>
            </div>
        </div>
    </div>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="card card-body  h-100">
                    <h3 class="text-dark">My Experience As a Developer </h3>
                    <p>Full stack developer at FOI laboratories.</p>
                    <p>Designed, built and managed a lab management system as a sole developer. System supported thousands of customers with a UI for Lab Admins and a customer dashboard.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5 class="text-dark " ">What I Know</h5>
                    <hr>
                    <p>Python, Django, HTML/CSS, JavaScript/Jquery, React, Rest APIs such as JavaScript  more I can’t possibly mention in one sentence! ;)</p>
                    <p class="btn btn-warning bg-warning alert-info ">PS: Working on Web Devlopement Using Django Learning.</p>
                </div>
            </div>


        </div>
    </div>

    <br>
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 ">
                <div class="card card-body h-100 ">
                    <h5>How I Learn</h5>
                    <hr>
                    <p>Reverse Engineer & Build Ugly Prototypes First.</p>

                    <p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="card card-body h-100 ">
                    <h5>My Short Term Goals</h5>
                    <hr>
                    <p>After almost two years of supporting my system at the lab I’m ready to learn something new. I'll collaborating and sharing my experience with others on my blog <a class="btn btn-success bg-dark ">(https://adi19471.github.io/) (http://adi3you.pythonanywhere.com/login/) & youtube channel.</a></p>
                    <p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

                </div>
            </div>
        </div>
    </div>
    <br>
</div>


{% endblock content %}